@import "../../../assets/_breakpoints.scss";

.profile-menu {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 32px;
  cursor: pointer;
  @include s {
    margin-left: 12px;
  }

  .user-icon {
    width: 32px;
    height: 32px;
    color: white;
    background: white;
    border-radius: 14px;
    margin-left: 15px;
    @include s {
      width: 24px;
      height: 24px;
    }
  }

  .menu-items {
    position: absolute;
    top: 120%;
    width: 100%;
    background-color: #181c20;
    border-radius: 8px;
    z-index: 80;

    > .item {
      padding: 5px 10px;
      color: #fff;
    }
  }
}
