@import "../../assets/_breakpoints.scss";

.chat-component {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  flex-grow: 4;
  @include s {
    height: calc(100vh - 100px);
  }
  border: none;
  padding-top: 55px;
  background-color: #f3f4f7;

  .chat-messages {
    flex-grow: 3;
    overflow-y: auto;
    background-color: #f3f4f7;
  }

  .chat-footer {
    position: relative;
    align-items: center;
    background-color: #fff;
    box-shadow: inset 0 1px 0 0 hsl(0deg 0% 68% / 10%);
    display: flex;
    height: 32px;
    justify-content: space-between;
    padding: 15px 30px;

    .upload-clip {
      position: relative;
      color: black;
      font-size: 26px;
      cursor: pointer;
      margin-right: 24px;
    }

    .upload-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      background-color: #fff;
      padding: 10px;
      top: -140%;
      left: 1%;
      width: 100%;
      max-width: 60px;
      border-radius: 12px;

      .upload-item {
        color: #1f2326;
        padding: 2px 0;
        cursor: pointer;
      }
    }

    .typing-area {
      border: none;
      font-family: Avenir, sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 1.29;
      color: #000;
      flex-grow: 2;
      height: 100%;
      margin-right: 20px;
    }

    .typing-area:focus {
      border-bottom: 1px #181c20 solid;
    }

    button {
      border: none;
      font-family: Avenir, sans-serif;
      font-size: 14px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      letter-spacing: normal;
      line-height: 1.29;
      background-color: #fff;
      color: #25c14a;
      cursor: pointer;
    }
  }

  textarea:focus, input:focus {
    outline: none;
  }
}
